<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caicai.mapper.ResumeEvaluationMapper">

    <resultMap id="BaseResultMap" type="com.caicai.entity.pojo.ResumeEvaluation">
            <id property="id" column="id" />
            <result property="resumeId" column="resume_id" />
            <result property="userId" column="user_id" />
            <result property="overallScore" column="overall_score" />
            <result property="overallLevel" column="overall_level" />
            <result property="overallEvaluate" column="overall_evaluate" />
            <result property="rawJson" column="raw_json" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,resume_id,user_id,overall_score,overall_level,overall_evaluate,
        raw_json,created_at,updated_at
    </sql>
</mapper>
